<div class="container">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-6">
      <h3>Sign up</h3>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">               
          <%= f.input :email,
                      placeholder: "email*", label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          
          <div class="form-row">
            <div class="col">
                <%= f.input :password,
                      placeholder: "Password*", label: false,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
            </div>
            
            <div class="col">
              <%= f.input :password_confirmation,
                      placeholder: "Confirm password", label: false,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
            </div>
          </div>
         
          <p>Optional</p>
         
          <div class="form-row">
            <div class="col">
              <%= f.input :first_name,
                      placeholder: "First Name", label: false,
                      autofocus: true,
                      input_html: { autocomplete: "first_name" }%>
            </div>
            <div class="col">
              <%= f.input :last_name,
                      placeholder: "Last Name", label: false,
                      autofocus: true,
                      input_html: { autocomplete: "last_name" }%>
            </div>
          </div>
        
          <%= f.input :about_me, as: :text,
                      placeholder: "About me", label: false,
                      autofocus: true,
                      input_html: { autocomplete: "about_me" }%>
        </div>

        <div class="d-flex align-items-center">
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary mr-2" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>



