<h3>Edit gym</h3>

<%= simple_form_for(@gym) do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :type_of_gym %>
  <%= f.input :equipment %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<%= link_to "Remove gym", gym_path(@gym), method: :delete, data: { confirm: "Are you sure you want to delete your home gym?" } %>