<div class="index-page">
  <h2 class="index-title">Gyms in the selected area</h2>
  <div class="d-flex">
    <div class="index-cards">
      <% @gyms.each do |gym| %>
       <%= link_to gym_path(gym) do %>
          <div class="card-product">
            <% if gym.photo.attached? %>
              <%= cl_image_tag gym.photo.key, height: 240, width: 360, crop: :fill %>
            <% else %>
              <img src="https://www.leisureopportunities.co.uk/images/2020/HIGH346040_712133_137408.jpg" />
            <% end %>
            <div class="card-product-infos">
              <h2><%= gym.name %></h2>
              <p>Gym type: <%= gym.type_of_gym %></p>
              <p>Equipment: <%= gym.equipment %></p>
              <p>Location: <%= gym.location %></p>
            </div>
          </div>
          <% end %> 
      <% end %> 
    </div>

    <div id="map"
      style="width: 50%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>