<div class="container">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-6">
    <h3><%= @gym.name %></h3>
    <p>Location: <%= @gym.location %></p>
    <p>Gym type: <%= @gym.type_of_gym %></p>
    <p>Equipment: <%= @gym.equipment %></p>
    <%# <%= render 'form', gym: @gym, booking: @booking %>
    </div>
  </div>
</div>

