<div class="container">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-6">
    <h3><%= @gym.name %></h3>
    <p>Location: <%= @gym.location %></p>
    <p>Gym type: <%= @gym.type_of_gym %></p>
    <p>Equipment: <%= @gym.equipment %></p>
    <button type="button" class="btn btn-success"><%= link_to "Reserve", new_booking_path(@booking) %>
    </button>
    </div>
  </div>
</div>